node_modules
.env
backend/.env
frontend/.env
backend/uploads/*
!backend/uploads/.gitkeep
backend/excel/customer_inquiries.xlsx
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist
.DS_Store
